.navbar-brand{
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-shadow: rgb(230, 110, 19) 1px 0 10px;
    padding-right: 28rem;
}

.nav-link {
    background-color: yellow;
    border-radius: 8px;
    margin-top: 0;
    padding: 10px;
    margin: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: black;
}

.nav-link:hover{
    background-color: rgb(247, 247, 74);
}

.d-flex{
    background-color: rgb(248, 248, 152);
    padding: 10px;
    border-radius: 8px;
}

.btn{
    background-color: white;
    /* padding: 10px; */
    /* margin: 5px; */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: black;
}

.form-control{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: black;
}

.navbar{
    padding:0px;
}

.container-fluid{
    background: linear-gradient(0deg, rgba(155, 224, 253, 0.7), rgba(48, 107, 132, 0.7));
    margin: 0;
}

.dropdown-menu{
    background: linear-gradient(0deg, rgba(155, 224, 253, 0.7), rgba(40, 92, 115, 0.7));
    size: 10rem;
}
.dropdown-item{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: black;
    background-color: yellow;
    margin: 2px;
    border-radius: 8px;
    
}
.dropdown-item:hover{
    border-color: white;
    border: 2px;
    background-color: rgb(31, 127, 31);
}
